@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "fligen";
	src: url("../assets/fonts/fligen/Fligen.otf");
}

@font-face {
	font-family: "glacial";
	src: url("../assets/fonts/glacial-indifference/gi-regular.otf");
}

@font-face {
	font-family: "glacial";
	src: url("../assets/fonts/glacial-indifference/gi-bold.otf");
        font-weight : bold;
}

.graph-paper {
	background-color: #f0f0f0;
  background-image: 
    conic-gradient(at calc(100% - 2px) calc(100% - 2px),#a9a9a960 270deg, #0000 0);
  background-size: 70px 70px, 20px 20px;
}
