@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "fligen", "Helvetica", "san-serif";
}

@font-face {
  font-family: "fligen";
  src: url("../assets/fonts/fligen/Fligen.otf");
}
